
// ===== GENERAL STYLES
// ======================================================================
body, select, input, textarea {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	font-size: 93%;
	@include bp($bp-col8){ font-size: 95%; }
	@include bp($bp-col12){ font-size: 98%; }
	@include bp($bp-col16){ font-size: 100%; }
	line-height: 1.625;
}

body {
	position: relative;
	width: 100%;
	color: $light-grey;
	font-family: $font-text;
	text-align: center;
	background-color: $dark-grey;
	overflow-x: hidden;
	padding: 50px 0;
}

::selection { color: $light-blood; background: $blood; }

*, *:after, *:before {
	box-sizing: border-box;
}



// ===== ANCHOR TEXT / LINKS
// ======================================================================



// ===== HORIZONTAL LINE
// ======================================================================


// ===== IMAGES
// ======================================================================

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: block;
	@include bp($bp-col8){
		display: inline;
	}
}

// ===== TYPOGRAPHY
// ======================================================================

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
	line-height: 1.1;
	margin: 0 0 12px;
}
