.fantasy {

    .title {
        color: $light-blood;
        text-shadow: 2px 2px $blood;
    }

    .reroll svg {
        fill: $light-blood;
    }

}

.cyberpunk {

    .title {
        color: $light-neon;
        text-shadow: 2px 2px $neon;
    }

    .reroll svg {
        fill: $light-neon;
    }

}

.title {
    color: $light-blood;
    letter-spacing: 1px;
    text-shadow: 2px 2px $blood;
    opacity: 0;
    margin-bottom: 0;
    animation: fadein 1s 0.5s forwards;

    span {
        font-size: 140%;
    }
}

.your-quest {
    width: 100%;
    max-width: 600px;
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    padding: 50px 25px;
    margin: 0 auto;

    div {
        opacity: 0;
        margin-bottom: 30px;
        animation: fadein 1s forwards;
    }
}

.reroll {
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto 50px auto;

    &:hover {
        svg {
            transform: rotate(360deg);
        }
    }

    svg {
        width: 50px;
        height: auto;
        fill: $light-blood;
        transition: 1.75s cubic-bezier(0.85,-0.25,0.25,1.1);
    }
}

.roll-animation {
    animation: rotate 3s cubic-bezier(0.85,-0.25,0.25,1.1);
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes rotate {
    0%   { opacity: 0; transform: rotate(-360deg); }
    25%  { opacity: 1; }
    100% { opacity: 1; transform: rotate(0deg); }
}