// BREAKPOINTS
// =============================================

$bp-col4: 0;
$bp-col8: 640px;
$bp-col12: 960px;
$bp-col16: 1280px;


// FONT DECLARATIONS
// =============================================

$font-text: 'IM Fell Great Primer', serif;


// COLOR PALETTE
// =============================================

$light-grey: #ececee;
$dark-grey: #40404d;
$black: #373737;
$light-neon: #149ce0;
$neon: darken($light-neon, 25%);
$blood: #8a0707;
$light-blood: lighten($blood, 35%);
